@{
    ViewData["Title"] = "SupplierList";
    var supplierList = (List<Supplier>)ViewData["supplierList"];
    var supplierid = ViewData["supplierid"];
}
<style>
    #Add {
        border: 2px solid #008CBA;
        transition-duration: 0.4s;
        margin-left: 50px;
        border-radius: 8px;
        height: 40px;
    }

    #Add:hover 
    {
         background-color: #008CBA; /* Blue */
         color: white;
    }

    #Delete 
    {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        overflow: hidden;
    }

    #Edit 
    {
        background-color: transparent;
        border: none;
        outline: none;

    }

    #Details {
        background-color: transparent;
        border: none;
        outline: none;
        color: #33BAFF;
    }
</style>

<form method="post">
    <div class="container">
        <h1 style="text-align:center">Supplier List</h1>
       <input name="Button1" id="Add" title="Submit" value="Add Supplier" formaction="Supplier/AddSupplier?id=@supplierid" style="border-style:Solid;" type="submit"></>
        <br />
        <br />

        <table class="table table-bordered">
            <thead style="background-color:lightgrey">
                <tr align="center">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Contact Name</th>
                    <th>Phone No</th>
                    <th>Fax No</th>
                    <th>Adddress</th>
                    <th>GSTReg</th>

                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in supplierList)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.ContactName</td>
                        <td>@item.PhoneNo</td>
                        <td>@item.FaxNo</td>
                        <td>@item.Address</td>
                        <td>@item.GSTReg</td>


                        <td width="10%">
                            <button type="submit" id="Details" formaction="Supplier/Details?Id=@item.Id">View Details</button>
                            <br />
                            <button type="submit" id="Edit" formaction="Supplier/EditDeleteSupplier?cmd=edit&Id=@item.Id">Edit</button>
                            <br />
                            <button type="submit" id="Delete" formaction="Supplier/EditDeleteSupplier?cmd=delete&Id=@item.Id" style="color:red">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>

