@{
    ViewData["Title"] = "SupplierList";
    var supplierList = (List<Supplier>)ViewData["supplierList"];
    var supplierid = ViewData["supplierid"];
}
<form method="post">
    <div class="container">
        <h1 style="text-align:center">Supplier List</h1>
        <input name="Button1" class="btn btn-success" id="Add" title="Submit" value="Add New Supplier" formaction="Supplier/AddSupplier?id=@supplierid" type="submit"></>
        <br />
        <br />

        <table class="table table-bordered">
            <thead style="background-color:lightgrey">
                <tr align="center">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Contact Name</th>
                    <th>Phone No</th>
                    <th>Fax No</th>
                    <th>Adddress</th>
                    <th>GSTReg</th>
                    <th>Action</th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in supplierList)
                {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.ContactName</td>
                    <td>@item.PhoneNo</td>
                    <td>@item.FaxNo</td>
                    <td>@item.Address</td>
                    <td>@item.GSTReg</td>
                    <td>
                        <button type="submit" class="btn btn-warning btn-xs" formaction="/Supplier/EditDeleteSupplier?cmd=edit&Id=@item.Id">Edit</button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-danger btn-xs" formaction="/Supplier/EditDeleteSupplier?cmd=delete&Id=@item.Id">Delete</button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary btn-xs" formaction="/Supplier/Details?Id=@item.Id">View Details</button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</form>

