@{
    ViewData["Title"] = "SupplierList";
    var supplierList = (List<Supplier>)ViewData["supplierList"];
    var supplierid = ViewData["supplierid"];
    var msg = ViewData["alertMsg"];
}

@if (msg != null)
{
    <script type="text/javascript">
        window.onload = function () {
            if ("@msg" === "Supplier has been updated!")
            {
                swal("Success", "@msg", "success");

            }
            else if ("@msg" === "Supplier is successfully created!") {
                swal("Success", "@msg", "success");

            }
            else { swal("@msg"); }
        };
    </script>
}

<form method="post">
    <div class="container">
        <h1 style="text-align:center">Supplier List</h1>
        <input name="Button1" class="btn btn-success" id="Add" title="Submit" value="Add New Supplier" formaction="Supplier/AddSupplier?id=@supplierid" style="border-style:Solid;" type="submit" />

        <table class="table table-bordered" style="margin-top:20px; text-align:center">
            <thead style="background-color:lightgrey">
                <tr align="center">
                    <th style="text-align:center">ID</th>
                    <th style="text-align:center">Name</th>
                    <th style="text-align:center">Contact Name</th>
                    <th style="text-align:center">Phone No</th>
                    <th style="text-align:center">Fax No</th>
                    <th style="text-align:center">Adddress</th>
                    <th style="text-align:center">GSTReg</th>
                    <th style="text-align:center">Action</th>
                    <th style="text-align:center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in supplierList)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.ContactName</td>
                        <td>@item.PhoneNo</td>
                        <td>@item.FaxNo</td>
                        <td>@item.Address</td>
                        <td>@item.GSTReg</td>


                        <td><button type="submit" class="btn btn-warning btn-xs" formaction="/Supplier/EditDeleteSupplier?cmd=edit&Id=@item.Id">Edit</button></td>
                        <td><button type="submit" class="btn btn-primary btn-xs" formaction="/Supplier/Details?Id=@item.Id">View Details</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>