@{
    ViewData["Title"] = "UpdateStationery";
    List<string> supplierstationeryList = ViewBag.supplierstationeryList;
    SupplierStationery item = (SupplierStationery)ViewData["item"];
    var supplierid = ViewData["supplierid"];
}

<div align="center">
    <h2>Edit Stationery</h2>

    <form class="form-horizontal" action="UpdateStationery" method="POST" style="margin-top:40px; margin-bottom:50px;">
        <div class="form-group">
            <input class="form-control" type="hidden" value="@item.Id" name="StationeryId" style="width:300px">
            <label class="col-sm-5 control-label">Supplier Id:</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" value="@item.SupplierId" name="SupplierId" style="width:300px" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">Description:</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" value="@item.InventoryItem.Description" name="InventoryItemId" style="width:300px" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">UOM:</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" value="@item.UOM" name="UOM" style="width:300px" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">Tender Price:</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" value="@item.TenderPrice" name="TenderPrice" style="width:300px">
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-danger" onclick="window.location.href = '/Supplier';">Cancel</button>
            <button type="submit" class="btn btn-success">Update</button>
        </div>

    </form>
</div>

