
@{
    ViewData["Title"] = "Retrieval Form";
    var rtList = (List<RetrievalDetails>)ViewData["retrieveList"];
    string retId =(Convert.ToString(ViewData["retId"])).ToUpper();
}

    <form id="disbursementGenForm" method="post" style="margin-bottom:40px" action="/Disbursement/Generate">
        <div class="container" align="center">
            <h2>Retrieval Form ID - @retId</h2>
            <table class="table table-bordered" style="width:500px; margin-top:20px">
                <thead style="background-color:lightgrey">
                    <tr>
                        <th>Item Code</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Qty</th>
                        <th>UOM</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rtd in rtList)
                    {
                        <tr>
                            <td>@rtd.InventoryItemId</td>
                            <td>@rtd.InventoryItem.ItemCategory.Name</td>
                            <td>@rtd.InventoryItem.Description</td>
                            <td>@rtd.QtyNeeded</td>
                            <td>@rtd.InventoryItem.UOM</td>
                        </tr>
                    }
                </tbody>
            </table>
            <h5>Disbursement Dates</h5>
            <div class="col-sm-12">
                <input type="radio" id="disbursementDefault" name="option" value="default" checked="checked" /><label for="default"> Default - Every Monday</label><br />
                <input type="radio" id="disbursementCustom" name="option" value="custom" /><label for="custom"> Ad-hoc - Please select date:</label>
                <input type="date" id="customDate" name="option" disabled/> <br /> <br /> <br />
                <button type="submit" id="submit" class="btn btn-primary">Generate Disbursement List</button>
                <input id="disbursedDate" name="disbursedDate" value="0" type="hidden" />
                <input id="retrievalId" name="retrievalId" value="@retId" type="hidden" />
            </div>
        </div>
    </form>
    <script src="~/js/customDisbursement.js"></script>
        
