
@{
    ViewData["Title"] = "Retrieval List";
    var rtd = (List<RetrievalDetails>)ViewData["rtd"];
    var ret = (Retrieval)ViewData["ret"];
    var disbId = ViewData["disbId"];
}
    <div class="container" align="center" style="margin-bottom:40px">
        <h2>Retrieval Form ID - @ret.Id</h2>
    </div>
<form method="post" style="margin-bottom:40px" action="/Disbursement/Generate">
    <div class="container">
        <a href="/retrieval/index"><button type="button" class="btn btn-primary"> Back To Retrieval List</button></a>
        <table class="table table-bordered" style="margin-top:20px">
            <thead style="background-color:lightgrey">
                <tr>
                    <th>Item Code</th>
                    <th>Description</th>
                    <th>Bin</th>
                    <th>Qty Needed</th>
                    <th>Actual Retrieved</th>
                    <th>UOM</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var r in rtd)
                {
                    <tr>
                        <td>@r.InventoryItemId</td>
                        <td>@r.InventoryItem.Description</td>
                        <td>@r.InventoryItem.Bin</td>
                        <td>@r.QtyNeeded</td>
                        <td>@r.QtyRetrieved</td>
                        <td>@r.InventoryItem.UOM</td>
                    </tr>
                }
            </tbody>
        </table>
        @{ if (!(disbId != null))
            {
                <h5 align="center">Disbursement Dates</h5>
                <div class="col-sm-12" align="center">
                    <input type="radio" id="disbursementDefault" name="option" value="default" checked="checked" /><label for="default"> Default - Every Monday</label><br />
                    <input type="radio" id="disbursementCustom" name="option" value="custom" /><label for="custom"> Ad-hoc - Please select date:</label>
                    <input type="date" id="customDate" name="option" disabled /> <br /> <br /> <br />
                    <button type="submit" id="submit" class="btn btn-primary">Generate Disbursement List</button>
                    <input id="disbursedDate" name="disbursedDate" value="0" type="hidden" />
                    <input id="retrievalId" name="retrievalId" value="@ret.Id" type="hidden" />
                </div>
            }
        }
    </div>
</form>
<script src="~/js/customDisbursement.js"></script>

