
@{
    ViewData["Title"] = "Retrieval List";
    var rtd = (List<RetrievalDetails>)ViewData["rtd"];
    var ret = (Retrieval)ViewData["ret"];
    var disbId = ViewData["disbId"];
}
<form method="post" style="margin-bottom:40px" action="/Disbursement/Generate">
    <div class="container" align="center">
        <h2>Retrieval Form ID - @ret.Id</h2>
        <table class="table table-bordered" style="width:500px; margin-top:20px">
            <thead style="background-color:lightgrey">
                <tr>
                    <th>Item Code</th>
                    <th>Description</th>
                    <th>Bin</th>
                    <th>Qty</th>
                    <th>UOM</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var r in rtd)
                    {
                <tr>
                    <td>@r.InventoryItemId</td>
                    <td>@r.InventoryItem.Description</td>
                    <td>@r.InventoryItem.Bin</td>
                    <td>@r.QtyNeeded</td>
                    <td>@r.InventoryItem.UOM</td>
                </tr>
                    }
            </tbody>
        </table>
        @{ if (!(disbId != null)) {

            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Generate Disbursement List</button>
                <input id="retrievalId" name="retrievalId" value="@ret.Id" type="hidden" />
            </div>
                    }
        }
    </div>
</form>

