@model IEnumerable<ADProj.Models.RequestDetails>

@{
    ViewData["Title"] = "View";
    var details = (List<RequestDetails>)ViewData["Listofitems"];

}

    <div style="margin-left:50px">
        <a href="/request/outstanding"><h4> << View Request List </h4> </a>
    </div>

<div align="center">
    <div align="center" style="margin-top:20px"><img src="https://img.icons8.com/metro/52/000000/overview-pages-3.png" /></div>
    <h1 class="display-4">Request Detail</h1>


    <table class="table table-bordered" style="width:800px; text-align:center">
        <thead>
            <tr style="background-color:lightgrey">
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.InventoryItemId)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.InventoryItem.Description)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.QtyRequested)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.InventoryItem.UOM)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in details)
            {
                <tr>
                    <td>
                        @item.InventoryItemId
                    </td>
                    <td>
                        @item.InventoryItem.Description
                    </td>
                    <td>
                        @item.QtyRequested
                    </td>
                    <td>
                        @item.InventoryItem.UOM
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>