@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Outstanding Requests";
    var approved = (List<Request>)ViewData["ApprovedRequest"];
    var pendingStock = (List<Request>)ViewData["PendingStockRequest"];
}

<h1 align="center"><b>@ViewData["Title"]</b></h1>
<div style="margin-left:60px; margin-top:40px; margin-bottom:50px">
    <div class="container col-sm-5" align="center">
        <img src="https://img.icons8.com/material-outlined/50/000000/checked-2.png" />
        <h3><b>Requests to be fulfilled</b></h3>
        @{
            if (approved.Count != 0)
            {
                <table class="table table-bordered" id="tblFufill" style="width:550px; margin-top:20px; text-align:center">
                    <thead style="background-color:lightgrey">
                        <tr align="center">
                            <th style="text-align:center">Request Id</th>
                            <th style="text-align:center">Request Date</th>
                            <th style="text-align:center">Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var canFufill in approved)
                        {

                            string id = canFufill.Id.ToString();
                            string viewdetailurl = "/Request/OutstandingDetails/" + id;

                            <tr>
                                <td>@canFufill.Id</td>
                                <td>@canFufill.DateRequested</td>
                                <td>
                                    <form action=@viewdetailurl>
                                        <input type="submit" class="btn btn-primary btn-xs" value="View Details >" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="form-group" style="margin-bottom:50px">
                    <form method="post" action="/Retrieval/GenerateRetrievalList">
                        <input type="submit" id="generateRetrievalBtn" value="Generate Retrieval Form" class="btn btn-success" />
                    </form>
                </div>
                
            }
            else
            {
                <p style="color:red">There is no outstanding requests.</p>
            }
        }

    </div>

    <select id="selectOne" class="center-block" style="display:none">

        @foreach (var app in approved)
        {
            <option id="category-name" style="display:none" value=@app.Id>@app.EmployeeId</option>

        }
    </select>

    <div class="container col-sm-7" align="center">
        <img src="https://img.icons8.com/metro/52/000000/minus.png" />
        <h3><b>Requests that require restock</b></h3>
        @{
            if (pendingStock.Count != 0)
            {
                <table class="table table-bordered" style="width:550px; margin-top:18px; text-align:center">
                    <thead style="background-color:lightgrey">
                        <tr>
                            <th style="text-align:center">Request Id</th>
                            <th style="text-align:center">Request Date</th>
                            <th style="text-align:center">Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cannotFufill in pendingStock)
                        {
                            string id = cannotFufill.Id.ToString();
                            string viewdetailurl = "/Request/OutstandingDetails/" + id;
                            <tr>
                                <td>@cannotFufill.Id</td>
                                <td>@cannotFufill.DateRequested</td>
                                <td>
                                    <form action=@viewdetailurl>
                                        <input type="submit" class="btn btn-primary btn-xs" value="View Details >" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p style="color:red">There is no requests that require stock.</p>
            }
        }
    </div>
</div>
