<!--AUTHOR: JAMES FOO -->


@model IEnumerable<ADProj.Models.RequestDetails>

@{
    ViewData["Title"] = "Request Detail";
    var details = (List<RequestDetails>)ViewData["Listofitems"];

}



<div class="container" align="center" style="margin-bottom:40px">
    <img src="https://img.icons8.com/metro/52/000000/overview-pages-3.png" />
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="container">
    <a href="/request/outstanding"><button type="button" class="btn btn-primary">Back To Request List</button></a>
    <table class="table table-bordered" style="margin-top:20px; text-align:center">
        <thead>
            <tr style="background-color:lightgrey">
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.InventoryItemId)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.InventoryItem.Description)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.QtyRequested)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.InventoryItem.UOM)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in details)
            {
                <tr>
                    <td>
                        @item.InventoryItemId
                    </td>
                    <td>
                        @item.InventoryItem.Description
                    </td>
                    <td>
                        @item.QtyRequested
                    </td>
                    <td>
                        @item.InventoryItem.UOM
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>