@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Outstanding Requests";
    var approved = (List<Request>)ViewData["ApprovedRequest"];
    var pendingStock = (List<Request>)ViewData["PendingStockRequest"];



}

<style type="text/css">
    table {
        width: 50%;
    }

        table tr th,
        table tr td {
            width: 31%;
            border: 1px solid black;
        }

    .center-block {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
</style>

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<h2>Orders to be fufilled</h2>

<div class="container" align="center" style="margin-bottom:40px">
    <table id="tblFufill" class="table table-bordered" style="margin-top:20px; text-align:center">
        <thead>
            <tr align="center">
                <th style="width:100px; text-align:center">Request Id</th>
                <th style="width:50px; text-align:center">Request Date</th>
                <th style="width:50px; text-align:center">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var canFufill in approved)
            {

                string id = canFufill.Id.ToString();
                string viewdetailurl = "/Request/OutstandingDetails/" + id;

                <tr>
                    <td>@canFufill.Id</td>
                    <td>@canFufill.DateRequested</td>
                    <td>
                        <form action=@viewdetailurl>
                            <input type="submit" value="View Details >" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>




<select id="selectOne" class="center-block" style="display:none">

    @foreach (var app in approved)
    {
        <option id="category-name" style="display:none" value=@app.Id>@app.EmployeeId</option>

    }
</select>


<form method="post" action="/Retrieval/GenerateRetrievalList">
    <input type="submit" id="generateRetrievalBtn" value="Generate Retrieval Form" class="center-block" />
</form>

<h2>Orders that require restock</h2>

<select id="selectTwo" class="center-block" style="display:none">

    @foreach (var ps in pendingStock)
    {
        <option id="category-name" style="display:none" value=@ps.Id>@ps.EmployeeId</option>

    }
</select>

<div class="container" align="center" style="margin-bottom:40px">
    <table class="table table-bordered" style="margin-top:20px; text-align:center" id="tblPendingStock">
        <thead>
            <tr>
                <th style="width:100px; text-align:center">Request Id</th>
                <th style="width:20px; text-align:center">Request Date</th>
                <th style="width:50px; text-align:center">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cannotFufill in pendingStock)
            {
                string id = cannotFufill.Id.ToString();
                string viewdetailurl = "/Request/OutstandingDetails/" + id;
                <tr>
                    <td>@cannotFufill.Id</td>
                    <td>@cannotFufill.DateRequested</td>
                    <td>
                        <form action=@viewdetailurl>
                            <input type="submit" value="View Details >" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
