@model IEnumerable<ADProj.Models.Request>

@{
    ViewData["Title"] = "Request Pending Approval";
}
&nbsp;
&nbsp;
&nbsp;
&nbsp;
<div align="center">
    <img src="~/Icons/tickicon.png" alt="tickicon" width="140" height="140" />
    <h1>Request Pending Approval</h1>
</div>
&nbsp;
&nbsp;
&nbsp;
&nbsp;
<table class="table">
    <thead>
        <tr style="background:lightgrey">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRequested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRequested)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    @{
                        string id = item.Id.ToString();
                        string viewdetailurl = "/request/RequestViewDetail/" + id;
                    }
                    <form action=@viewdetailurl>
                        <input type="submit" value="View Details >" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>








