@model IEnumerable<ADProj.Models.RequestDetails>

<head>
    <style>
        .approvebutton {
            background-color: green;
            color: white;
        }

        .rejectbutton {
            background-color: red;
            color: white;
        }
    </style>
</head>

@{
    ViewData["Title"] = "Request Detail";
}


<div class="container" align="center" style="margin-bottom:40px">
    <img src="~/Icons/Listicon.png" alt="listicon" width="260" height="130" />
    <h1 align="center">@ViewData["Title"]</h1>
</div>
<div class="container">
    <a href="/request/requestpendingapproval"><button type="button" class="btn btn-primary">Back To Request List</button></a>
    <table class="table table-bordered" style="margin-top:20px; text-align:center">
        <thead style="background-color:lightgrey">
            <tr align="center">
                <th style="display:none">
                    @Html.DisplayNameFor(model => model.InventoryItemId)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.InventoryItem.Description)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.QtyRequested)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.InventoryItem.UOM)
                </th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="display:none">
                        @Html.DisplayFor(modelItem => item.InventoryItemId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InventoryItem.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QtyRequested)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InventoryItem.UOM)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



<div align="center">
    @{
        var id = ViewData["Requestid"];
        string submiturl = "/request/submit/";
        ;
    }
    Enter Additional Comments:
    <form action=@submiturl>
        <input type="hidden" name="requestid" value=@id>

        <textarea name="Comments" rows="4" cols="50">        
       </textarea>
        <table>
            <tr>
                <td>
                    <input class="btn btn-danger" type="submit" name="submitButton" value="Reject" />
                </td>
                <td>
                    <input class="btn btn-success" type="submit" name="submitButton" value="Approve" />
                </td>
            </tr>
        </table>
    </form>

</div>
