@model IEnumerable<ADProj.Models.Request>

@{
    ViewData["Title"] = "View My Request History";
}

<div align="center">
    <h1>View My Request History</h1>


    <table class="table table-bordered" style="width:800px; margin-top:20px; text-align:center">
        <thead>
            <tr style="background-color:lightgrey">
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th style="display:none">
                    Employee Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateRequested)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td style="display:none">
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateRequested)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                    </td>

                    @{
                        string id = item.Id.ToString();
                        string viewdetailurl = "/request/ViewMyRequestHistoryDetail/" + id;
                    }

                    <td>
                        <form action=@viewdetailurl>
                            <input type="submit" class="btn btn-primary btn-xs" value="View Details >" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>