<!--AUTHOR: LENG CHUNG HIANG -->

@{
    ViewData["Title"] = "Disbursement";
    var disbursementList = (List<Disbursement>)ViewData["selectedDisbursements"];
}
<div class="container" align="center" style="margin-bottom:40px">
    <h2>Disbursement - @disbursementList[0].DisbursedDate.ToString("dd/MMM/yyyy")</h2>
</div>
<form method="post" style="margin-bottom:40px">
    <div class="container">
        <a href="/disbursement/index"><button type="button" class="btn btn-primary"> Back To Disbursement Records</button></a>
        <table class="table table-bordered" style="margin-top:20px; text-align:center">
            <thead style="background-color:lightgrey">
                <tr align="center">
                    <th style="width:100px; text-align:center">Department Code</th>
                    <th style="width:200px; text-align:center">Department</th>
                    <th style="width:150px; text-align:center">Department Representative</th>
                    <th style="width:70px; text-align:center">Collection Point</th>
                    <th style="width:70px; text-align:center">Status</th>
                    <th style="width:50px; text-align:center">Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dbm in disbursementList)
                {
                    <tr>
                        <td>@dbm.DepartmentId</td>
                        <td>@dbm.Department.Name</td>
                        <td>@dbm.Department.DepartmentRep.Name</td>
                        <td>@dbm.Department.CollectionPointId</td>
                        <td>@dbm.DisbursementStatus</td>
                        <td><button type="submit" formaction="/Disbursement/ViewDisbursementDetails?Id=@dbm.Id" class="btn btn-primary btn-xs">View Details ></button></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</form>