
@{
    ViewData["Title"] = "Collection Points";
    List<CollectionPoint> cplist = (List<CollectionPoint>)ViewData["cplist"];
    var msg = ViewData["alertMsg"];
}

@if (msg != null)
{
    <script type="text/javascript">
        window.onload = function () {
            if ("@msg" === "Collection point has been updated!")
            {
                swal("Success", "@msg", "success");

            }
            else if ("@msg" === "Collection point is successfully created!") {
                swal("Success", "@msg", "success");

            }
            else { swal("@msg"); }
        };
    </script>
}

<div class="container">
    <h1 style="text-align:center"> Collection Points </h1>
    <a href="/CollectionPoint/AddCollectionPoint"><button type="button" class="btn btn-success">Add New Collection Point</button></a>

    <br />
    <br />
    <form id="CollectionPointListForm" method="post">

        <table class="table table-bordered">
            <thead style="background-color:lightgrey">
                <tr align="center">
                    <th>Collection Point</th>
                    <th>Collection Time</th>
                    <th>Store Clerk</th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CollectionPoint cp in cplist)
                {
                    <tr>
                        <td>@cp.Name</td>
                        <td>@cp.Time</td>
                        <td>@cp.Employee.Name</td>
                        <td><button type="submit" class="btn btn-warning btn-xs" formaction="/CollectionPoint/EditCollectionPoint?cpId=@cp.Id">Edit</button></td>
                        <td><button type="submit" class="btn btn-danger btn-xs" formaction="/CollectionPoint/DeleteCollectionPoint?cpId=@cp.Id">Delete</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>