
@{
    ViewData["Title"] = "Departments";
    List<Department> departments = (List<Department>)ViewData["deptlist"];
    var msg = ViewData["alertMsg"];
}

@if (msg != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@msg");
        };
    </script>
}


<a href="/Department/AddDepartment"><button type="button" class="btn btn-success">Add New Department</button></a>
<div align="center">
    <h1> Departments </h1>

    <br />
    <br />
    <form id="DepartmentListForm" method="post">
        <table align="center">
            <thead>
                <tr align="center">
                    <th>Dept Code</th>
                    <th>Name</th>
                    <th>Collection Point</th>
                    <th>Department Head</th>
                    <th>Department Rep</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Department department in departments)
                {
                    <tr>
                        <td>@department.Id</td>
                        <td>@department.Name</td>
                        <td>@department.CollectionPoint.Name</td>

                        <td>
                            @if (department.DepartmentHead != null)
                            {
                                @department.DepartmentHead.Name
                            }
                    </td>
                    <td>
                        @if (department.DepartmentRep != null)
                        {
                            @department.DepartmentRep.Name
                        }
                </td>
                <td><button type="submit" class="btn btn-warning btn-xs" formaction="/Department/EditDepartment?deptId=@department.Id">Edit</button></td>
                <td><button type="submit" class="btn btn-danger btn-xs" formaction="/Department/DeleteDepartment?deptId=@department.Id">Delete</button></td>
            </tr>
        }
            </tbody>
        </table>
    </form>
</div>