@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    var categories = (List<ItemCategory>)ViewData["ItemCategory"];
    var inventories = (List<InventoryItem>)ViewData["InventoryItem"];
    var supplierstationary = (List<SupplierStationery>)ViewData["SupplierStationery"];

}

@{ ViewData["Title"] = "Adjustment Voucher Form";
    Layout = "_Layout";
    var msg = ViewData["Msg"];

}



<style type="text/css">
    table {
        width: 50%;
    }

        table tr th,
        table tr td {
            width: 31%;
            border: 1px solid black;
        }

    .center-block {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
</style>


<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>


<div id="errmsg">
    @if (msg != null)
    {

    <script type="text/javascript">
        window.onload = function () {
            if ("@msg" === "Adjustment voucher form has been created!")
            {
                swal("Success", "@msg", "success");

            }
            else if ("@msg" === "Adjust amount has exceeded $250! Please direct to your manager for item adjustment.")
            {
                swal("Amount Exceeded", "@msg", "error");

            }
            else { swal("@msg"); }
        };
    </script>
    }
</div>
<div align="center">

    <form class="form-horizontal" method="POST" action="" style="margin-top:40px">

        <div class="form-group">
            <label class="col-sm-5 control-label">Item Name:</label>
            <div class="col-sm-3">

                <select id="selectOne" class="center-block">
                    <option style="display:none">Select Category</option>
                    @foreach (var item in categories)
                    {
                        <option id="category-name" value=@item.Id>@item.Name</option>

                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-5 control-label">Item Description:</label>
            <div class="col-sm-3">
                <select id="selectTwo" class="center-block">
                    <option style="display:none">Select Item</option>
                    @foreach (var item in supplierstationary)
                    {
                        <option data-uom=@item.UOM data-yy=@item.InventoryItem.QtyInStock data-price=@item.TenderPrice data-id=@item.InventoryItem.Id value="@item.InventoryItem.ItemCategoryId">@item.InventoryItem.Description</option>

                    }
                </select>
            </div>
        </div>


        <br />

        <div class="form-group">
            <label class="col-sm-5 control-label">Unit of Measurement:</label>
            <div class="col-sm-3">
                <input type="text" name="demo" id="demo" placeholder="Unit of Measurement" class="center-block" readonly />
            </div>
        </div>
        <input type="text" id="demo2" name="itemname" placeholder="Item ID(CODE)" class="center-block" style="display:none" />

        <div class="form-group">
            <label class="col-sm-5 control-label">Price:</label>
            <div class="col-sm-3">
                <input type="text" name="demo4" id="demo4" placeholder="Price" class="center-block" readonly />

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">Current Quantity:</label>
            <div class="col-sm-3">
                <input type="text" name="demo5" id="demo5" placeholder="CurrentQty" class="center-block" readonly />
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-5 control-label">Adjustment Quantity:</label>
            <div class="col-sm-3">
                <input class="form-control" id="demo7" name="AdjustQty" type="number" value="" onchange="checkform()" style="width:100px">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-5 control-label">Adjustment Amount($):</label>
            <div class="col-sm-3">
                <input class="form-control" name="AdjustAmt" id="demo8" value="" type="text" style="width:100px" readonly>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-5 control-label">Reason:</label>
            <div class="col-sm-3">
                <input class="form-control" name="reason" id="reason" type="text" style="width:100px">
            </div>
        </div>


        <div class="form-group">
            <input type="submit" name="submit" value="submit" id="submit" formaction="SaveAdjustmentVoucher" />
            <input type="submit" name="cancel" value="cancel" id="cancel" formaction="AddAdjustmentVoucher" />

        </div>

    </form>
</div>


<script>
    function checkform() {

        document.getElementById("demo8").value = parseFloat(document.getElementById("demo4").value) * parseFloat(document.getElementById("demo7").value);

    }</script>





<script src="~/js/adjust.js"></script>

