@{
    ViewData["Title"] = "Maintain Department Representative";
    List<Employee> employees = (List<Employee>)ViewData["emplist"];
    Employee currentDeptRep = (Employee)ViewData["currentDeptRep"];
    Employee deptHead = (Employee)ViewData["deptHead"];
}


<div align="center">
    <form class="form-horizontal" id="maintainDepRepForm" action="/DepartmentHead/MaintainDepartmentRep" method="post" style="margin-top:40px" margin-bottom:50px;">
        <div class="container" align="center">
            <h2> @ViewData["Title"]</h2>
            <div class="form-group">
                <label class="col-sm-5 control-label">Employee Name: </label>
                <div class="col-sm-3">
                    <select class="form-control" type="text" name="deptRepId" style="width:300px">
                        @foreach (Employee employee in employees)
                        {
                            @if (employee.Id == currentDeptRep.Id)
                            {
                                <option value="@employee.Id" selected>@employee.Name</option>

                            }
                            else if (employee.Id != deptHead.Id && !employee.isActingDepartmentHead())
                            {
                                <option value="@employee.Id">@employee.Name</option>

                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <!--not sure why the button below is within a href-->
                <!--<a href="/"><button type="button" class="btn btn-danger">Cancel</button></a>-->
                <button type="button" id="btnCancel" class="btn btn-danger">Cancel</button>
                <button type="submit" id="btnSave" class="btn btn-success">Save</button>
            </div>
        </div>
    </form>
</div>
<script>
    $("#btnSave").click(function () {
        swal("Success", "Department representative has been updated", "success");
    });
</script>




